<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="./Images/k.jpg">

    <title>Available Classes</title>

    <!-- Bootstrap core CSS -->
    <link href="./CSS/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./CSS/starter-template.css" rel="stylesheet">
    <link href="./CSS/navbar-fixed-top.css" rel="stylesheet">
    <link href="./CSS/grid.css" rel="stylesheet">

    <style type="text/css">
      .row {
        border-bottom: 1px solid gray;
        padding-top: 50px;
        padding-bottom: 50px
      }
      .starter-template{
        padding-bottom: 50px
      }
      .description{
        padding-bottom:   50px;
      }
    </style>
  </head>

  <body>

<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >Course Exchange</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/index">Available Classes</a></li>
            <li><a href="#my_classes">My Classes</a></li>
            <li><a href="#proposed_exchanges">Proposed Exchanges</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Log Out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Course Detail</h1>
      </div>

    </div><!-- /.container -->

    <p class="description"><b>This course is geared for entrepreneurs and non-programmers who want to build their own web apps and manage a software product lifecycle. Students will build a project in small steps, learning the fundamentals of computer programming and modern web app development along the way</b></p>

    <div class="table_header">
      <div class="col-md-2">Course</div>
      <div class="col-md-1">Section</div>
      <div class="col-md-2">Section Title</div>
      <div class="col-md-1">Credits</div>
      <div class="col-md-3">Times</div>
      <div class="col-md-2">Instructor(s)</div>
      <div class="col-md-1">Exchange</div>
    </div>
    <div class="row">
      <div class="col-md-2">KIEI-925</div>
      <div class="col-md-1">61</div>
      <div class="col-md-2">Startup Programming and Management</div>
      <div class="col-md-1">1</div>
      <div class="col-md-3">Thu 1:30 PM - 4:45 PM</div>
      <div class="col-md-2">Cohen, Jeffrey</div>
      <div class="col-md-1">
        <p><a class="btn btn-primary btn-lg" role="button">Propose &raquo;</a></p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="Available_classes_files/jquery-1.js"></script>
    <script src="Available_classes_files/bootstrap.js"></script>


</body></html>
